@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="update-calendar-popup" class="popup">
    <div class="popup-content popup-calendar">
        <span class="close" id="close-popup-update">&times;</span>
        <h2>Calendario LIDOM</h2>
        <p>Actualizar Calendario</p>
        <br/>
       <form method="post" method="post" asp-action="UpdateCalendar" asp-controller="Calendar">
           <input class="d-none" id="input-calendar-id" name="id"/>
         <div class="row">
            <div class="col-3 left-align">Estadio</div>
            <div class="col-9">
                <select class="form-select" aria-label="Disabled select example" id="update-sel-stadium" name="Home">
                    <option selected>Elegir Estadio</option>
                </select>
            </div>
         </div>
         <div class="row mt-1">
              <div class="col-3 left-align">Fecha</div>
            <div class="col-9">
                <input class="d-none" id="input-game-date" name="GameDate"/>
                <input class="w-100" type="date" id="update-input-gamedate" name="GameDateIntermediate"/>
            </div>
         </div>
         <div class="row mt-1">
            <div class="col-3 left-align">Hora</div>
            <div class="col-9">
                <select class="form-select" aria-label="Disabled select example" id="update-sel-gamedate" name="GameTimeIntermediate">
                    <option selected>Elegir hora de juego</option>
                </select>
            </div>
         </div>
         <div class="row mt-1">
            <div class="col-3 left-align">Estado</div>
            <div class="col-9">
                <select class="form-select" aria-label="Disabled select example" name="Status" id="update-sel-status">
                    <option selected>Selecciona tipo</option>
                    <option value=0>Juego Entrante</option>
                    <option value=2>Juego Pospuesto</option>
                </select>
            </div>
         </div>
         <div class="row mt-1">
            <button type="submit" class="btn btn-primary" onclick="setGameDate()">Agendar</button>
         </div>
          </form>
    </div>
 </div>

<script>
    const setGameDate = ()=> {
        debugger;
        const gameDate = document.getElementById("update-input-gamedate").value;
        const gameTime = document.getElementById("update-sel-gamedate").value;
        const gameDateTime = new Date(gameDate + "T" + gameTime + "Z");
        document.getElementById("input-game-date").value = gameDateTime.toISOString();
    }

</script>