@media (min-width: 778px) {
    .custom-width {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .custom-width {
        width: 200px;
    }
}


.custom-bg-red {
    background-color: #dc3545; 
    color: #FFFFFF; 
}

.custom-bg-orange {
    background-color: #fd7e14;
    color: #FFFFFF; 
}

.custom-bg-blue {
    background-color: #0d6efd;
    color: #FFFFFF; 
}