@{
    List<Calendar>? calendars = ViewBag.calendars;
    Dictionary<int, string> teamsD = new Dictionary<int, string>();
    List<Calendar> calendarsNotPlayed = calendars.Where(x => x.Status != LIDOM.utils.GameStatus.Past).ToList();
}
<div style="margin-right:40px; margin-left:40px;">
    <div class="row">
        <div class="col-12">
            <table class="table">
            <thead>
            <tr>
                <th scope="col">Equipo 1</th>
                <th scope="col">Equipo 2</th>
                <th scope="col">Estadio</th>
                <th scope="col">Dia de juego</th>
            </tr>
            </thead>
            <tbody>
                    @{
                        for (int i = 0; i < calendarsNotPlayed.Count; i++)
                        {
                            <tr>
                                <td>@teamsD[calendarsNotPlayed[i].Id_FirstTeam]</td>
                                <td>@teamsD[calendarsNotPlayed[i].Id_SecondTeam]</td>
                                <td>@calendarsNotPlayed[i].Home</td>
                                <td>@calendarsNotPlayed[i].GameDate.ToString("D", new System.Globalization.CultureInfo("es-ES"))</td>
                            </tr>
                        }
                    }
            </tbody>
        </table>
        </div>
    </div>
</div>